h1, .title{
    color:#A68DAD;
    font-family: "Courier New", "Lucida Console", monospace ;
}

body{
    background-color: #F0ECE3;
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace ;
}

.link{
    color: #C7B198;
    background-color: #DFD3C3;
    font-weight: bold;
}

.list{
    color: white;
    background-color:rgb(173, 141, 141);
}

p, h2{
    color: rgb(173, 141, 141);;
}